.player-item {
    width: 200px;
    text-align: center;
}
.align-input-left {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}
.modal-fullscreen {
    max-width: 90%;
}

.modal-body-container {
    max-height: 370px;
    overflow-y: auto;
}
.football {
    width: 35px;
}

.label-distance {
    margin-top: 35px;
}
.donate {
    margin-top: 80px;
}

.superstar-container {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.icon-superstar {
    color: #ffc107;
    font-size: 30px;
}
.icon-superstar-small {
    color: #ffc107;
    font-size: 20px;
}
.table-row {
    background-color: #bfbfbf
}
.popover-stick-to-top {
    top: -125px;
}