.player-item {
    width: 200px;
    text-align: center;
}
.align-input-left {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}
.modal-fullscreen {
    max-width: 90%;
}

.modal-body-container {
    max-height: 370px;
    overflow-y: scroll;
}
.football {
    width: 35px;
}

.label-distance {
    margin-top: 35px;
}
.donate {
    margin-top: 80px;
}